C:\Users\gilen\Desktop\typing\Rosehack_Rosetyping\Assets\Resources\122671923-wood-texture-seamless-sketch-grain-cover-surface-wooden-fibers-vector-illustration-isolated-on-white.webp
C:\Users\gilen\Desktop\typing\Rosehack_Rosetyping\Assets\Resources\rightSound.mp3
C:\Users\gilen\Desktop\typing\Rosehack_Rosetyping\Assets\Resources\story.txt
C:\Users\gilen\Desktop\typing\Rosehack_Rosetyping\Assets\streamingAssetsPath\Stories\story.txt
C:\Users\gilen\Desktop\typing\Rosehack_Rosetyping\Assets\streamingAssetsPath\Stories\story.txt
C:\Users\gilen\Desktop\typing\Rosehack_Rosetyping\Assets\streamingAssetsPath\Stories
C:\Users\gilen\Desktop\typing\Rosehack_Rosetyping\Assets\TextAsset
C:\Users\gilen\Desktop\typing\Rosehack_Rosetyping\Assets\TextMesh Pro
C:\Users\gilen\Desktop\typing\Rosehack_Rosetyping\Logs
C:\Users\gilen\Desktop\typing\Rosehack_Rosetyping\UserSettings
C:\Users\gilen\Desktop\typing\Rosehack_Rosetyping\Assembly-CSharp.csproj
C:\Users\gilen\Desktop\typing\Rosehack_Rosetyping\Rosehack_Rosetyping.sln